*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    display: flex;
    width: 100%;
    height: 65px;
    background-color: black;
    position: fixed;
    justify-content: space-around;
    z-index: 999999;
}


ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

}

li{
    list-style-type: none;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    
}

nav img{
    width: 200px;
    height: 40px;
    margin-top: 1%;
    margin-left: 3%;
    
}

nav button{
    width: 90px;
    height: 35px;
    margin-top: 1%;
    background-color: #2A8ED0;
    color: white;
    border: none;
    font-size: 17px;
}











/* STARTUP */

.startup{
    width: 100%;
    height: 600px;
    display: flex;
    background-color: #FFFFFF;
    gap: 60px;
    
}

.startup-right{
    width: 40%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.two-h1{
    display: flex;
    gap: 2%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;

}

.h1-1{
    color: #3498DB;
}

.h1-2{
    color: white;
    background-color: #3498DB;
    border: solid #3498DB 1px;
    width: 150px;
    text-align: center;
}

.startup-left img {
    margin-top: 20%;
    margin-left: 7%;
}

.startup-right p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #777777;
    
}

.startup-right button{
    width: 170px;
    height: 50px;
    background-color: white;
    color: #3498DB;
    border: solid 1px #3498DB;
    font-size: 16px;
    font-weight: 700;
    transition: 1s;
}

.startup-right button:hover{
    background-color: #3498DB;
    color: white;
    transition: 1s;
}



















/* STANDART */

.standart{
    width: 100%;
    height: 800px;
    display: flex;
}

.right-standart{
    width: 50%;
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 5%;
    
}

.icons{
    display: flex;
    gap: 50px;
}

.icon1{
    display: flex;
    gap: 15px;
}

svg{
    color: #3498DB;
}

.right-standart h1{
    color: #3498DB;
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    
}

.right-standart p {
    color: #777777;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    

}

.icon1 p {
    color: #4e4d4d;
}




.left-standart{
    width: 50%;
    display: flex;
    position: relative;
    margin-top: 5%;

}

.st-img-left {
    width: 290px;
    height: 560px;
    z-index: 999;
    
}

.st-img-right {
    width: 290px;
    height: 560px;
    position: absolute;
    right: 18%;
}

















/* BEST FEATURES */

.best-features{
    width: 100%;
    height: 900px;
    background-color: #34495E;
    display: flex;
    position: relative;
    flex-direction: column;

}

.features-text{
    color: white;
    text-align: center;
    margin-top: 10%
}

.features-text h1{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}

.features-text p{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}


.containers{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    gap: 20px;
}

.containers svg{
    width: 55px;
    height: 55px;
    position: relative;
    left: 40%;
    
    
}

.h2-box h2{
    color: white;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 31px;
}

.cont1{
    gap: 40px;
}

