*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
}

nav{
    display: flex;
    width: 100%;
    height: 65px;
    background-color: black;
    position: fixed;
    justify-content: space-around;
    z-index: 9999999;
}


ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

}

li{
    list-style-type: none;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    
}

nav img{
    width: 200px;
    height: 40px;
    margin-top: 1%;
    margin-left: 3%;
    
}

nav button{
    width: 90px;
    height: 35px;
    margin-top: 1%;
    background-color: #2A8ED0;
    color: white;
    border: none;
    font-size: 17px;
}
















/* HOME PAGE */

.home-page{
    background-image: url(https://affapress.com/templates/wstartup_responsive_startup_landing_page/html/header_2/images/content/bg/1.jpg);
    width: 100%;
    height: 800px; 
}

.home-parent{
    display: flex;
    position: relative;
    top: 10%;
    width: 100%;
    height: 800px;
}




 
.left-phone{
    width: 240px;
    height: 500px;
    z-index: 99;
}


.left-home{
    display: flex;
    flex-direction: column;
    width: 60%;
    
}



.right-phone{
    width: 240px;
    height: 500px;
    position: absolute;
    right: 22%;
}

.right-home{
    display: flex;
    width: 40%;
    position: relative;
    top: 11%;

}


.left-home{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 5%;
    gap: 40px;
    position: relative;
    top: 17%;
}

.left-home h1 {
    width: 600px;
    height: 112px;
    font-size: 50px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;

}


.left-home p {
    font-size: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 600px;
}


.learn-more{
    width: 170px;
    height: 53px;
    background-color: #1FB24C;
    color: white;
    font-size: 17px;
    border: none;
    font-weight: 700;
}

.get-the-app{
    width: 170px;
    height: 53px;
    background-color: #2A8ED0;
    color: white;
    font-size: 17px;
    border: none;
    font-weight: 700;
}

.buttons-home{
    width: 380px;
    display: flex;
    justify-content: space-between;
}
















/* THREE BOX */

.three-box{
    background-color: #ECF3F8;
    width: 100%;
    height: 400px;
    display: flex;
    gap: 50px;
}

.three-box h1{
    color: #555555;
    text-align: center;
    
}

.p-box p {
    text-align: center;
}

.three-box p {
    color: #777777;
    font-size: 16px;
}

.three-box img{
    width: 55px;
    height: 55px;
    margin-left: 44%;
}


.box-1, .box-2, .box-3{
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    
}


.box-1{
    position: relative;
    margin-top: 6%;
    bottom: 7%;
    gap: 30px;
    left: 4%;

}

.box-2{
    position: relative;
    margin-top: 6%;
    bottom: 7%;
    gap: 30px;
    left: 4%;
}

.box-3{
    position: relative;
    margin-top: 6%;
    bottom: 7%;
    gap: 30px;
    left: 3%;
    
}














/* STARTUP */

.startup{
    width: 100%;
    height: 600px;
    display: flex;
    background-color: #FFFFFF;
    gap: 60px;
    
}

.startup-right{
    width: 40%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.two-h1{
    display: flex;
    gap: 2%;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;

}

.h1-1{
    color: #3498DB;
}

.h1-2{
    color: white;
    background-color: #3498DB;
    border: solid #3498DB 1px;
    width: 150px;
    text-align: center;
}

.startup-left img {
    margin-top: 20%;
    margin-left: 7%;
}

.startup-right p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #777777;
    
}

.startup-right button{
    width: 170px;
    height: 50px;
    background-color: white;
    color: #3498DB;
    border: solid 1px #3498DB;
    font-size: 16px;
    font-weight: 700;
    transition: 1s;
}

.startup-right button:hover{
    background-color: #3498DB;
    color: white;
    transition: 1s;
}



















/* STANDART */

.standart{
    width: 100%;
    height: 800px;
    display: flex;
}

.right-standart{
    width: 50%;
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 5%;
    
}

.icons{
    display: flex;
    gap: 50px;
}

.icon1{
    display: flex;
    gap: 15px;
}

svg{
    color: #3498DB;
}

.right-standart h1{
    color: #3498DB;
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    
}

.right-standart p {
    color: #777777;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    

}

.icon1 p {
    color: #4e4d4d;
}




.left-standart{
    width: 50%;
    display: flex;
    position: relative;
    margin-top: 5%;

}

.st-img-left {
    width: 290px;
    height: 560px;
    z-index: 999;
    
}

.st-img-right {
    width: 290px;
    height: 560px;
    position: absolute;
    right: 18%;
}

















/* BEST FEATURES */

.best-features{
    width: 100%;
    height: 900px;
    background-color: #34495E;
    display: flex;
    position: relative;
    flex-direction: column;

}

.features-text{
    color: white;
    text-align: center;
    margin-top: 10%
}

.features-text h1{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}

.features-text p{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}


.containers{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    gap: 20px;
}

.containers svg{
    width: 55px;
    height: 55px;
    position: relative;
    left: 40%;
    
    
}

.h2-box h2{
    color: white;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 31px;
}

.cont1{
    display: grid;
    align-items: normal;
}


















/* TABLETS */
@media (max-width: 1024px) {

    nav {
        justify-content: space-between;
        padding: 0 30px;
    }

    ul {
        gap: 25px;
    }

    nav img {
        width: 150px;
        height: auto;
    }

    .home-page {
        height: auto;
        background-size: cover;
        background-position: center;
    }

    .home-parent {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .left-home {
        width: 90%;
        align-items: center;
        text-align: center;
        margin-left: 0;
        top: 5%;
    }

    .left-home h1,
    .left-home p {
        width: 100%;
    }

    .buttons-home {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .left-phone,
    .right-phone {
        display: none;
    }

    .three-box {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 60px 0;
    }

    .box-1, .box-2, .box-3 {
        position: static;
        width: 80%;
        text-align: center;
    }

    .startup {
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 30px;
    }

    .startup-left img {
        width: 80%;
        margin: 0 auto;
    }

    .startup-right {
        width: 80%;
        margin-top: 5%;
        align-items: center;
        text-align: center;
    }

    .standart {
        flex-direction: column;
        height: auto;
    }

    .left-standart,
    .right-standart {
        width: 100%;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .icons {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .left-standart img {
        width: 250px;
        height: auto;
    }

    .best-features {
        height: auto;
        padding-bottom: 60px;
    }

    .containers {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .containers svg {
        left: 0;
    }
}



/* MOBILE */
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px 0;
    }

    ul {
        flex-direction: column;
        gap: 15px;
        margin-top: 10px;
    }

    nav button {
        width: 100%;
        margin: 10px 0;
    }

    .left-home h1 {
        font-size: 32px;
    }

    .left-home p {
        font-size: 16px;
    }

    .learn-more, .get-the-app {
        width: 80%;
    }

    .three-box {
        padding: 40px 0;
    }

    .box-1, .box-2, .box-3 {
        width: 90%;
    }

    .startup-right h1 {
        font-size: 26px;
    }

    .standart h1 {
        font-size: 28px;
    }

    .best-features h1 {
        font-size: 30px;
    }

    .h2-box h2 {
        font-size: 24px;
    }

    .startup-right button,
    .standart button {
        width: 100%;
    }
}




nav {
    top: 0;
    left: 0;
}

/* ქვევით არსებული კონტენტი არ უნდა დაიფაროს navbar-ით */
body {
    padding-top: 65px; /* იგივე სიმაღლე რაც navbar-ს აქვს */
}

/* პლანშეტი */
@media (max-width: 1024px) {
    nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        height: 60px;
    }

    body {
        padding-top: 60px;
    }

    ul {
        gap: 25px;
    }

    nav img {
        width: 140px;
        height: auto;
    }
}

/* მობილური */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px 0;
        position: fixed;
    }

    ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    body {
        padding-top: 100px; /* ცოტა მეტი სივრცე მობილურზე */
    }

    nav button {
        margin-bottom: 10px;
    }
}